/////////////////////////////
/// Debug settings ///
/////////////////////////////
$debug: false; // true | false

////////////////////////////////////
/// checking debug operations ///
////////////////////////////////////
@if ($debug) {
    body {
        border: solid 10px $primary-color;
    }
}

/////////////////////////////
/// RESET STYLES ///
/////////////////////////////
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
input[type="radio"],
input[type="checkbox"],
button,
select,
.btn,
.text-field {
    @include transition(all 0.2s ease-in-out);
    outline: none;

    &:hover,
    &:focus,
    &:focus {
        text-decoration: none;
        outline: none !important;
        outline-style: none;
        outline-width: 0;
    }
}

html {
    -webkit-text-size-adjust: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //removing highlight color
    -webkit-overflow-scrolling: touch; //touch smooth
}

html,
body {
    min-height: 100%;
}

//iOS phone number detection prevent
a[href^="tel"] {
    color: inherit;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font-bold;
    color: $title-font-color;
}

//for mozilla
button::-moz-focus-inner {
    border: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

button {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;

    &.inline {
        display: inline-block;
    }
}

//safari browser additional inner shadow remove
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* mobile firefox too! */
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

textarea.form-control {
    resize: vertical;
}

*::-moz-selection {
    background: $primary-color;
    color: #fff;
    text-shadow: none;
}

*::selection {
    background: $primary-color;
    color: #fff;
    text-shadow: none;
}

.radius {
    @include border-radius($radius);
}

.clear-radius {
    @include border-radius(0);
}

.clearfix {
    @include clearfloat();
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

a {
    color: $link-color;

    &:hover,
    &:focus,
    &:active {
        color: darken($link-color, 10%);
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }
}

p {
    color: $default-font-color;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: $paragraph;
}

/////////////////////////////
/// COMMON STYLES ///
/////////////////////////////
body {
    font-family: $font-family-base;
    color: $default-font-color;
    background-color: $bg-color !important;
}

.ant-alert {
    font-size: 12px;
    font-weight: 600;
}


.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}

.container-fluid {
    padding: 0 15px;
}

// common form

.content-form-block {
    .field-wrap {
        display: block;
        .select-field {
            display: block;
        }
        .ant-select-selection {
            border: none;
            color: rgba($title-font-color, 0.7);
            &:focus {
                box-shadow: none;
            }
        }
        .ant-select-selection__rendered {
            margin-left: 0;
        }
        .ant-select-arrow {
            svg {
                display: none;
            }
            .anticon  {
                position: relative;
                &:after {
                    content: '\e919';
                    position: absolute;
                    font-family: $icon-font;
                    color: rgba($title-font-color, 0.7);
                }
            }
        }
    }
    .input-field,
    .textarea-field {
        font-size: 14px;
        border: none;
        width: 100%;
        height: 38px;
        margin-bottom: 12px;
        @include border-radius(0);
        border-bottom: 1px solid #D1D5D8;
        color: rgba($title-font-color, 0.7);
        font-family: $title-font-semi;
        @include placeholder($title-font-color, 0.7);
        &:focus {
            box-shadow: none;
        }
    }
    .ant-input-disabled {
        background: transparent;
    }
    .multi-field-wrap {
        .input-field {
            width: calc(50% - 10px);
            margin-left: 20px;
            margin-bottom: 0;
        }
    }
    .tags-block {
        margin: 20px 0;
        .tags {
            font-size: 11px;
            font-weight: 500;
            padding: 0 10px;
            height: 22px;
            line-height: 21px;
            margin-right: 12px;
            vertical-align: middle;
            border: 1px solid#D1D5D8;
            color: rgba($title-font-color,0.7); 
            font-family: $font-family-base;
            @include border-radius(32px);
            &:hover {
                color: $primary-color;
                border-color: $primary-color;
            }
            &::before {
                background: transparent;
            }
        }
        .ant-radio-button-wrapper-checked {
            box-shadow: none !important;
            outline: none;
            color: $primary-color;
            border-color: $primary-color;
        }
        .tag-icon {
            margin-right: 5px;
        }
    }
    .checkbox-block {
        margin-bottom: 16px;
        .ant-checkbox-wrapper {
            font-size: 14px;
            color: rgba($title-font-color,0.7); 
            font-family: $title-font-semi;
            &:hover .ant-checkbox-inner {
                border-color: #D1D5D8;
            }
        }
        .ant-checkbox-inner {
            top: -2px;
        }
        .ant-checkbox-checked::after {
            border-color: #D1D5D8;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background: #ffffff;
            border-color: #D1D5D8;
            &::after {
                left: 22%;
                border-color: #D1D5D8;
            }
        }
    }
    .btn-block {
        margin-bottom: 5px;
        .outline-btn {
            font-size: 14px;
            font-family: $title-font-semi;
            @include border-radius(32px);
            padding-left: 20px;
            padding-right: 20px;
            color: rgba($title-font-color,0.4); 
            &:hover {
                color: $primary-color;
            }
        }
    }

    ///MEDIA QUERIES  
    @include min-sm {

    }
    // end
}

@include min-sm {
    .container-fluid {
        padding: 0 30px;
    }
}

@include min-md {
    .container-fluid {
        padding: 0 50px;
    }
}

@include min-lg {
    .container-fluid {
        padding: 0 70px;
    }
}


.app-body {
    min-height: 90vh;
    min-height: calc(100vh - 61px);
}

//loader

.center-progress {
    text-align: center;
    padding: 60px 25px;
}

//table no data
.ant-table-placeholder {
    color: rgba(black, 0.2);
    font-weight: 700;
    font-size: 14px;
}

//single line
.single-line {
    white-space: nowrap;
    display: block;
}

//main content area
.main-content-area {
    padding: 60px 0;
}

//link wrapper
.link-wrapper {
    height: 80vh;
    height: calc(100vh - 90px);
}

//panel
.panel.panel-default {
    @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
    border-left: 1px solid #eee;
    border-radius: 7px;
}

//link
.item-link {
    font-weight: 400;
    color: $primary-color; 
    &:hover {
        text-decoration: underline;
    }
}
 
///Flex grid 
.ant-row-flex {
    @media (max-width: 575px) {
        [class^="ant-col-"] {
            width: 100%;
        }
    }
}
 
.primary-title-block{
    .title-block{ 
        font-size: 16px;
        span{
            margin-left: 5px;
            font-size: 24px;
            line-height: 1;
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: -5px;
        }
    }
    .total-count{
        font-size: 10px;
        color: $sub-font-color;
        margin-left: 10px;
    }
    @include min-sm {
        .title-block{ 
            font-size: 22px;
            span{  
                top: 0;
            }
        }
        .total-count{
            font-size: 14px; 
        }
    }
}
.secondary-title-block {
    .title-text {
        font-size: 16px;
    }
    .sub-title-text {
        font-size: 12px;
        color: $sub-font-color;
        margin-left: 10px;
    }
}
.see-all-btn{
    color: $primary-color;
    font-size: 12px;
    display: inline-block;
    &:hover{
        .text-block{
            text-decoration: underline;
        }
    }
    .icon-block{
        font-size: 10px;
        margin-left: 5px;
    }
}

.d-inline-block{
    display: inline-block;
}
.v-align-middle{
    vertical-align: middle;
}
.mb-0{
    margin-bottom: 0 !important;
}
.ml-0{
    margin-left: 0 !important;
}
.mt-0{
    margin-top: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}