///////////////////////////////////////////////
/// PAGE: ALL MODAL ///
///////////////////////////////////////////////

// Common modal styles
.modal-wrapper {
    .ant-modal-content {
        @include border-radius(0);
    }
    .ant-modal-body {
        padding: 50px 50px 0;
    }
    .ant-modal-close-icon {
        padding: 3px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, 0.45); 
        @include border-radius(50%);
        svg {
            width: 12px;
            height: 12px;
            vertical-align: middle;
        }
    }
    .ant-modal-footer {
        border: none;
        padding: 0 50px 50px;
    }
}
// end

// modal successfull and Unsuccessfull
.checkout-success-modal {
    max-width: 100vw !important;
    .ant-modal-body {
        padding: 100px 50px 80px;
    }
    .icon-block {
        margin-bottom: 20px;
        .icon-successfull {
            display: block;
            width: 80px;
            height: 80px;
            margin: auto;
            border: 4px solid #20AB2C;
            @include border-radius(50%);
            &:after {
                content: '';
                display: block;
                width: 20px;
                height: 37px;
                margin: 15px auto;
                border: solid #20AB2C;
                border-width: 0 4px 4px 0;
                transform: rotate(45deg);
            }
        }
        .icon-unsuccessfull {
            display: block;
            text-align: center;
            .icon-close-round {
                font-size: 80px;
                color: $primary-color;
            }
        }
    }
    .content-block {
        text-align: center;
        .title-text {
            font-size: 18px;
            font-family: $title-font-semi;
            color: $title-font-color;
            margin-bottom: 10px;
        }
        .sub-title {
            font-size: 13px;
            color: $sub-font-color;
            font-family: $paragraph;
            line-height: 18px;
        }
    }
}
// end

// change password modal
.change-password-modal-wrapper {
    .title-text {
        margin-bottom: 30px;
    }
    .cancel-btn {
        display: none;
    }
    .submit-btn {
        width: 100%;
        height: 50px;
        margin-left: 0;
        font-size: 16px;
        font-family: $title-font-semi;
        @include border-radius(32px);
    }
}
// end

// clear cart modal for mobile
    .clear-cart-modal-wrapper {
        .content-form-block {
            .btn-block {
                margin-top: 30px;
                text-align: center;
                    .outline-btn {
                    margin-left: 15px;
                    margin-bottom: 15px;
                    color: $primary-color;
                    font-family: $title-font;
                    border-color: $primary-color;
                    &:hover {
                        color: #ffffff;
                        background: $primary-color;
                    }
                }
            }
        }
    }
// end